   <% provide(:title, 'About Us') %> 
    <h1>About Us</h1>
    <p>
      This is a sample application that connects to a sandbox Salesforce account via the databasedotcom gem. Essentially all it does is retrieve information, update information and create objects (Sorry, DELETE requests are not allowed). Pretty much all we need, right? 
    </p>
    <p>
    	<a href="https://login.salesforce.com/">Click here</a> to access the Salesforce account and see the data. Username and password available upon request.
    </p>