<% if signed_in? %>
  
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
  </div>

  <div class="center hero-unit">
    <h1>pezzep</h1>

    <h2>
      Thanks for registering! <br />Project Showcase coming soon!
    </h2>

  </div>
<% else %>
  <div class="center hero-unit">
    <h1>pezzep</h1>

    <h2>
      Register to learn about our Web Services.
    </h2>

    <%= link_to "Register now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %> 