
<h1>R66T Salesforce Self-Service</h1>

<FORM ACTION="https://na9.salesforce.com/sserv/login.jsp" METHOD="POST">
<INPUT TYPE="HIDDEN" NAME="orgId" VALUE="00DE0000000KLG6">

<label for="un">Username:</label>
<INPUT TYPE="TEXT" id="un" NAME="un">
<BR>

<label for="pw">Password:</label>
<INPUT TYPE="PASSWORD" id="pw" NAME="pw">
<BR>

<INPUT TYPE="SUBMIT" VALUE="Login">
</FORM>