* {
	margin:0;
	padding:0;
}

body {  font-family: "Open Sans", sans-serif;  }

table {
	/*width:800px;*/
	border-top:solid #999 1px;
	border-bottom:solid #999 1px;
	margin:0 auto;
	font-size: 15px;
}

tr, td {
	text-align:left;
}

a {
	color: #08C;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

td.menuBarFrame {
	text-align:center;
	padding:5px;
}

td.menuBarFrame a {
	padding:0 20px;
	font-weight:bold;
	font-size: 17px;
}

td.pageTitle {
	font-weight: bold;
	font-size:125%;
}

td.titleInfo {
	font-size:13px;
}

td.listHeading {
	font-weight:bold;
}

td.detaillabel {
	font-weight: bold;
}

td.listEntryOdd, td.listEntryEven {
	padding:10px 0;
}

td.listEntryOdd{
	background-color: #E0E0E0;
}

/*To hide salesforce logo */
a img.logo {
	visibility:hidden;
}

/* iframe test */
div.iframe_container {
	height:100%;
	width:100%;
	text-align: center;
}

div.self_service iframe {
	min-height: 600px;
	min-width: 600px;
	border: none;
}

div.public_solutions iframe {
	min-height: 600px;
	min-width: 800px;
	border: none;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  /*width: 100%;*/
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input#cas14 {
	width: 100%;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input, textarea, select, .uneditable-input {
  /*display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;*/
  margin: 10px 0;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-8 */
}

input[type="file"]:focus, input[type="checkbox"]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}