<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="row">
    <div class="span6 offset3">
      <h2>Your Account</h2>
      
      <ul>
        <li><%= @user.name %></li>
        <li><%= @user.email %></li>
      </ul>
      
    </div>  
  </div>

</div>