<%= stylesheet_link_tag "self_service", media: "all" %>

<div class="iframe_container public_solutions">
	<IFRAME title="Content" SRC="http://na9.salesforce.com/sol/public/search.jsp?orgId=00DE0000000KLG6" WIDTH="515" HEIGHT="360"></IFRAME>
</div>