<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>salesforce.com</title>
  
  <link href="/sCSS/26.0/sprites/1349907912000/Theme3/default/elements.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css"/>

  <%= stylesheet_link_tag "self_service", media: "all" %>

  <script  src="/jslibrary/1349736004000/sfdc/main.js" type="text/javascript"></script><script  src="/jslibrary/labels/ssp1/1350080170000/en_US.js" type="text/javascript"></script>
  <script  type="text/javascript">window.sfdcPage = new GenericSfdcPage();
UserContext.initialize({"networkId":"","locale":"en_US","labelLastModified":"1350080170000","isDefaultNetwork":true,"today":"10/22/2012 4:42 PM","timeFormat":"h:mm a","userPreferences":[{"index":112,"name":"HideInlineEditSplash","value":false},{"index":114,"name":"OverrideTaskSendNotification","value":false},{"index":115,"name":"DefaultTaskSendNotification","value":false},{"index":119,"name":"HideUserLayoutStdFieldInfo","value":false},{"index":116,"name":"HideRPPWarning","value":false},{"index":87,"name":"HideInlineSchedulingSplash","value":false},{"index":88,"name":"HideCRUCNotification","value":false},{"index":89,"name":"HideNewPLESplash","value":false},{"index":90,"name":"HideNewPLEWarnIE6","value":false},{"index":122,"name":"HideOverrideSharingMessage","value":false},{"index":91,"name":"HideProfileILEWarn","value":false},{"index":93,"name":"HideProfileElvVideo","value":false},{"index":97,"name":"ShowPicklistEditSplash","value":false},{"index":92,"name":"HideDataCategorySplash","value":false},{"index":128,"name":"ShowDealView","value":false},{"index":129,"name":"HideDealViewGuidedTour","value":false},{"index":132,"name":"HideKnowledgeFirstTimeSetupMsg","value":false},{"index":104,"name":"DefaultOffEntityPermsMsg","value":false},{"index":135,"name":"HideNewCsnSplash","value":false},{"index":101,"name":"HideBrowserWarning","value":false},{"index":139,"name":"HideDashboardBuilderGuidedTour","value":false},{"index":140,"name":"HideSchedulingGuidedTour","value":false},{"index":180,"name":"HideReportBuilderGuidedTour","value":false},{"index":183,"name":"HideAssociationQueueCallout","value":false},{"index":194,"name":"HideQTEBanner","value":false},{"index":193,"name":"HideChatterOnboardingSplash","value":false},{"index":195,"name":"HideSecondChatterOnboardingSplash","value":false},{"index":270,"name":"HideIDEGuidedTour","value":false},{"index":282,"name":"HideQueryToolGuidedTour","value":false},{"index":196,"name":"HideCSIGuidedTour","value":false},{"index":271,"name":"HideFewmetGuidedTour","value":false},{"index":272,"name":"HideEditorGuidedTour","value":false},{"index":205,"name":"HideApexTestGuidedTour","value":false},{"index":206,"name":"HideSetupProfileHeaderTour","value":false},{"index":207,"name":"HideSetupProfileObjectsAndTabsTour","value":false},{"index":213,"name":"DefaultOffArticleTypeEntityPermMsg","value":false},{"index":214,"name":"HideSelfInfluenceGetStarted","value":false},{"index":215,"name":"HideOtherInfluenceGetStarted","value":false},{"index":216,"name":"HideFeedToggleGuidedTour","value":false},{"index":268,"name":"ShowChatterTab178GuidedTour","value":false},{"index":275,"name":"HidePeopleTabDeprecationMsg","value":false},{"index":276,"name":"HideGroupTabDeprecationMsg","value":false},{"index":222,"name":"TouchExternalLinkReminderSuppression","value":false},{"index":224,"name":"HideUnifiedSearchGuidedTour","value":false},{"index":226,"name":"ShowDevContextMenu","value":false},{"index":227,"name":"HideWhatRecommenderForActivityQueues","value":false},{"index":228,"name":"HideLiveAgentFirstTimeSetupMsg","value":false},{"index":232,"name":"HideGroupAllowsGuestsMsgOnMemberWidget","value":false},{"index":233,"name":"HideGroupAllowsGuestsMsg","value":false},{"index":234,"name":"HideWhatAreGuestsMsg","value":false},{"index":235,"name":"HideNowAllowGuestsMsg","value":false},{"index":236,"name":"HideSocialAccountsAndContactsGuidedTour","value":false},{"index":237,"name":"HideAnalyticsHomeGuidedTour","value":false},{"index":238,"name":"ShowQuickCreateGuidedTour","value":false},{"index":245,"name":"HideFilePageGuidedTour","value":false},{"index":250,"name":"HideForecastingGuidedTour","value":false},{"index":242,"name":"TouchHideOptoutHover","value":false},{"index":251,"name":"HideBucketFieldGuide","value":false},{"index":263,"name":"HideSmartSearchCallOut","value":false},{"index":265,"name":"HideSocialProfilesKloutSplashScreen","value":false},{"index":273,"name":"ShowForecastingQuotaAttainment","value":false},{"index":280,"name":"HideForecastingQuotaColumn","value":false},{"index":283,"name":"HideManyWhoGuidedTour","value":false},{"index":284,"name":"HideExternalSharingModelGuidedTour","value":false},{"index":298,"name":"HideFileSyncBannerMsg","value":false},{"index":299,"name":"HideTestConsoleGuidedTour","value":false}],"orgPreferences":[{"index":257,"name":"TabOrganizer","value":true}],"startOfWeek":"1","isAccessibleMode":false,"ampm":["AM","PM"],"renderMode":"RETRO","userId":"035E0000000gTth","dateTimeFormat":"M/d/yyyy h:mm a","dateFormat":"M/d/yyyy","uiSkin":"Theme3","language":"en_US","siteUrlPrefix":""});
</script>

  <script type="text/javascript">
     function appendParamToAllLinks(key, value) {
         var param = key + '=' + escape(value);
         for(i=0; i<document.links.length; i++) {
             questLoc = document.links[i].href.indexOf('?');
             poundLoc = document.links[i].href.indexOf('#');
             keyLoc = document.links[i].href.indexOf(key + '=');

             if (poundLoc != -1) {
                 url = document.links[i].href.substring(0, poundloc);
                 anchor = document.links[i].href.substring(poundloc, document.links[i].href.length);
             } else {
                 url = document.links[i].href;
                 anchor = "";
             }
             if (questLoc == -1 && poundLoc == -1 && keyLoc == -1) {
                 document.links[i].href = url + '?' + param + anchor;
             } else if (questLoc != -1 && poundLoc == -1 && keyLoc == -1) {
                 document.links[i].href = url + '&' + param + anchor;
             }
         }

         for(i=0; i<document.forms.length; i++) {
             var input = document.createElement('INPUT');
             if (isIE) {
                 input.type = 'hidden';
                 input.name = key;
                 input.value = value;
             } else {
                 // workaround for firefox
                 input.setAttribute('type', 'hidden');
                 input.setAttribute('name', key);
                 input.setAttribute('value', value);
             }
             document.forms[i].appendChild(input);
         }
     }
  </script>

<script  src="/jslibrary/1349428714000/sfdc/Security.js" type="text/javascript"></script><script  type="text/javascript">ClientHash.prototype.needsClientHash('csssid_Client','0000000gTth0000000KLG6','216.222.68.74','/servlet/servlet.ClientHashValidator?ResponseRequestedURL=%2Fsserv%2Fcaselist.jsp');</script>
</head>


<body onLoad="if(this.bodyOnLoad)bodyOnLoad();" LINK="#000000" VLINK="#000000" ALINK="#99CC00" TOPMARGIN="0" LEFTMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">
<TABLE border=0 width="100%" cellpadding=0 cellspacing=0 height=100%>


    
    <tr><td valign=top height=99% class="pageBodyContainer">
        <table border=0 width="500" cellspacing=0 cellpadding=0>

        
            <TR>
                <TD valign=top><table cellspacing="1" cellpadding="2" width="500"><TR>
<td nowrap class="menuBarFrame"><a href="/sserv/home.jsp" class="tabOff">Home</a>.<a href="/sserv/search.jsp?lang_picker=1" class="tabOff">Find Solution</a>.<a href="/sserv/caseedit.jsp?retURL=%2Fsserv%2Fcaselist.jsp" class="tabOff">Log a Case</a>.<a href="/sserv/caselist.jsp" class="tabOn">View Cases</a>.<a href="/sserv/logout.jsp" class="tabOff">Logout</a></td></tr></table></TD>
            </TR>
        


        
        
            <TR><TD colspan=1>&nbsp;</TD></TR>
            <TR><TD class="titleHeaderLineTop"><IMG alt="" src="/s.gif" WIDTH="1" HEIGHT="1"></TD></TR>
            <TR><TD class=pageTitle>My Open Cases</TD></TR>
            <TR><TD class="titleHeaderLineBottom"><IMG alt="" src="/s.gif" WIDTH="1" HEIGHT="1"></TD></TR>
        

        <TR width="100%"><TD>

        




    <TABLE BORDER="0" WIDTH="100%" CELLSPACING="0" CELLPADDING="2"><TR><TD ALIGN="RIGHT"><input value="View Closed Cases"  class="button" id="standardbutton" name="button" onclick="navigateToUrl('/sserv/caselist.jsp?closed=',null,'button');" title="View Closed Cases" type="button" /></TD></TR></TABLE>
<div><div><table width="100%" border="0" cellspacing="0" cellpadding="0"><TR><TD COLSPAN="6" CLASS="listHeaderLine"><img src="/s.gif" border="0" alt="" width="1" height="1"></TD></TR><tr><td CLASS="listHeading">&nbsp;</td><td CLASS="listHeading">Number</td><td CLASS="listHeading">&nbsp;</td><td CLASS="listHeading">Subject</td><td CLASS="listHeading">&nbsp;</td><td CLASS="listHeading">Created Date</td></tr><TR><TD COLSPAN="6" CLASS="listHeaderLine"><img src="/s.gif" border="0" alt="" width="1" height="1"></TD></TR><TR><TD CLASS="listEntryOdd">&nbsp;</TD><TD VALIGN="TOP" CLASS="listEntryOdd">00001016</TD><TD CLASS="listEntryOdd">&nbsp;</TD><TD VALIGN="TOP" CLASS="listEntryOdd"><a href="/sserv/casedetailview.jsp?id=500E0000003M40R">How do I submit a Case?</a></TD><TD CLASS="listEntryOdd">&nbsp;</TD><TD VALIGN="TOP" CLASS="listEntryOdd">10/18/2012 4:56 PM</TD></TR><TR><TD COLSPAN="6" CLASS="listFooterLine"><img src="/s.gif" border="0" alt="" width="1" height="1"></TD></TR></table>
</div><br/></div>



</TD></TR>


<TR align=center><TD colspan=2>
	<br>
    <a href="http://www.salesforce.com/" target="_blank"><img src="https://na9.salesforce.com/img/poweredby_sfdc.gif" alt="Powered by salesforce.com" width="184" height="40" class="logo" title="Powered by salesforce.com" /></a>
</TD></TR>

</TABLE>
</td></tr>

</table>



<!-- Body events -->
<script type="text/javascript">function bodyOnLoad(){setFocusOnLoad();if(window.PreferenceBits){window.PreferenceBits.prototype.csrfToken="f982X49riCsGBJXmiW_ae8cnG5DSM474BhRm2BILpwVVb_wDbo1zcXQ5DgdCIjPjqVct08lWRhFM5DDV7cetgSxPdwwR6JyjIKgKCamnHsm7jsxPKj0emG7uu74LzgAut5gjfnKyPSOn06NDYJxP7.sj2jvdb_kn5z9AaBObxSRhhskrnpeH6WuHpZHgqwbNowlAfA==";};if(window.Jiffy){if(Jiffy.onLoad)Jiffy.onLoad();if(Jiffy.ui&&Jiffy.ui.onLoad)Jiffy.ui.onLoad()}}function bodyOnBeforeUnload(){}function bodyOnFocus(){}function bodyOnUnload(){}</script>
</body>
</html>





